#reg{
    margin-right: 20px;
}
#aud{
    margin-right: 20px;
}
#data{
    margin-right: 20px;
}
#mak{
    margin-right: 20px;
}
#meet{
    margin-right: 20px;
}
#img{
    padding-right:40px ;
}
#img1{
    height:450px;
    width: 450px;
    padding-right:65px;
    margin-top: 50px;
}
#para{
    padding-left: 70px;
}
#make{
    font-size: 50px;
    margin-top: 100px;
    padding-left: 70px;
}
#bu{
    margin-left: 70px;
    background-color: black;
}
#img2{
    margin-left: 50px;
}
#img3{
    margin-left: 20px;
}
#img4{
    margin-left: 20px;
}
#img5{
    margin-left: 20px;
}
   
